.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width:100%;
    padding-top:2rem;
    
    
}
.projects h1{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    
}
.projects h1::after{
    content:"";
    height:2px;
    width:0;
    padding-top:2px;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    left:50%;
    position: relative;
    background: #fff;
    display: block;
}
.projects h1:hover::after{
    width:100%;
    left:0;
}

.projects .project{
    padding-top:4rem ;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width:100%; */
    grid-auto-rows: 370px;
    grid-auto-columns: 350px;
    grid-gap:4rem;
    place-items: center;
}

@media only screen and (max-width: 1200px){
    .projects .project{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media only screen and (max-width: 865px){
    .projects .project{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows:370px;

    }

    
}
@media only screen and (max-width: 421px){
    .projects .project{
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows:350px;

    }
    

}