#contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:4rem;
}
#contacts h1{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    /* position: absolute; */
    
}
#contacts h1::after{
    content:"";
    height:2px;
    width:0;
    padding-top:2px;
    transition: width 0.5s ease 0s, left 0.5s ease 0s;
    left:50%;
    position: relative;
    background: #fff;
    display: block;
}
#contacts h1:hover::after{
    width:100%;
    left:0;
}

.contact{
    display: flex;
    justify-content: center;
    padding:3rem 0rem;
    align-items: center;
    width:100%;
}

.contact .btn{
    display: inline-block;
    width:45px;
    height:45px;
    background:#fff;
    box-shadow: 0 5px 15px -5px #aaa;
    margin: 10px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    color:#1b1b3a;
    text-decoration: none;
    border:none;
    
}
.contact .btn i{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    line-height: 100%;
    height: 100%;
    font-size: 26px;
    transition: 0.5s ease-in-out;
   
}
.contact .btn:hover{
    color:#4613d7;
    
   
}

