/* .App{
    height:100vh;
    width: 100%;
    object-fit: cover;
} */
body{
    background-color: #1b1b3a;
}
.App{
    margin:auto;
    box-sizing: border-box;
    max-width: 1300px;
    background-color: #1b1b3a;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Spline Mono', monospace;
    color:#fff;
    ;
}